.ana 
.bgn 
.bit 
.bld 
.cel 
.csv 
.cmd 
.cmd_log 
.dhp 
.dly 
.drc 
.err 
.jhd 
.ldo 
.lfp 
.log 
.lso 
.mrp 
.nav 
.nc1 
.ncd 
.ngc 
.ngd 
.ngm 
.ngr 
.npl 
.pad 
.par 
.pcf 
.prj 
.ptf 
.sprj 
.spl 
.stx 
.syr 
.tpl 
.twr 
.twx 
.ut 
.untf 
.xpi 

.placed_ncd_tracker 
.routed_ncd_tracker 
rem CoreGen clearing
.fin 
.asy 
.edn 
.v 
.veo 
.vho 
.xcp 
.txt 
.coregen_log 

.ngo 
.lock 
.xml 
.html 
.ise 
.xst 
.unroutes 
.ntrc_log 
.ipf 

.xwbt 
.xsl 
.ptwx 
.xrpt 
.map 
.gise 
.exe 
.wdb 
.mif 
.xmsgs 
.ini 
.wcfg 

rd _ngo
d _xmsgs
rd iseconfig
rd xlnx_auto_0_xdb
rd xst