//! **************************************************************************
// Written by: Map P.20131013 on Fri Nov 04 14:34:54 2022
//! **************************************************************************

SCHEMATIC START;
NET "ckIn_IBUFG" BEL "InCk.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

