//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 13 22:19:03 2022
//! **************************************************************************

SCHEMATIC START;
NET "ck_IBUFG" BEL "InCk.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

