//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 03 17:31:19 2022
//! **************************************************************************

SCHEMATIC START;
NET "ckIn_IBUFG" BEL "InCk.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

