#leds
Net "S_out<0>" LOC="C11" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "S_out<1>" LOC="D11" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "S_out<2>" LOC="B11" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "S_out<3>" LOC="A12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "S_out<4>" LOC="A13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
#sw
Net "A_in<0>" LOC="J11" | IOSTANDARD = LVCMOS33;
Net "A_in<1>" LOC="J12" | IOSTANDARD = LVCMOS33;
Net "A_in<2>" LOC="H16" | IOSTANDARD = LVCMOS33;
Net "A_in<3>" LOC="H13" | IOSTANDARD = LVCMOS33;

Net "B_in<0>" LOC="G12" | IOSTANDARD = LVCMOS33;
Net "B_in<1>" LOC="E14" | IOSTANDARD = LVCMOS33;
Net "B_in<2>" LOC="D16" | IOSTANDARD = LVCMOS33;
Net "B_in<3>" LOC="B16" | IOSTANDARD = LVCMOS33;

Net "Sgm0_out<6>" LOC="E3" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Sgm0_out<5>" LOC="E1" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Sgm0_out<4>" LOC="G5" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Sgm0_out<3>" LOC="D1" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Sgm0_out<2>" LOC="E4" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Sgm0_out<1>" LOC="C1" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Sgm0_out<0>" LOC="C2" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Sgm0_com_out" LOC="B2" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

Net "Sgm1_out<6>" LOC="H6" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Sgm1_out<5>" LOC="K2" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Sgm1_out<4>" LOC="H3" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Sgm1_out<3>" LOC="K1" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Sgm1_out<2>" LOC="G4" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Sgm1_out<1>" LOC="J2" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Sgm1_out<0>" LOC="G3" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Sgm1_com_out" LOC="G2" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
