# clock signal
Net "clk" LOC="B8" | IOSTANDARD = LVCMOS33;
# swithes

Net "swts<0>" LOC="J11" | IOSTANDARD = LVCMOS33;
Net "swts<1>" LOC="J12" | IOSTANDARD = LVCMOS33;
Net "swts<2>" LOC="H16" | IOSTANDARD = LVCMOS33;
Net "swts<3>" LOC="H13" | IOSTANDARD = LVCMOS33;


# DAC pins
Net "dapd" LOC="A10" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "daou<0>" LOC="E11" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "daou<1>" LOC="E10" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "daou<2>" LOC="D10" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "daou<3>" LOC="E9"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "daou<4>" LOC="A9" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "daou<5>" LOC="D9" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "daou<6>" LOC="E8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "daou<7>" LOC="C8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "daou<8>" LOC="D8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "daou<9>" LOC="F9" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "daou<10>" LOC="A7" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "daou<11>" LOC="D7" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "dack" LOC="E7" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;