//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 14 00:20:36 2022
//! **************************************************************************

SCHEMATIC START;
NET "ckIn_IBUFG" BEL "InCk.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

