
## Switches
Net "x4" LOC="J11" | IOSTANDARD = LVCMOS33;
Net "x3" LOC="J12" | IOSTANDARD = LVCMOS33;
Net "x2" LOC="H16" | IOSTANDARD = LVCMOS33;
Net "x1" LOC="H13" | IOSTANDARD = LVCMOS33;

Net "y" LOC="C11" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

## clkNet "ckIn" LOC="B8" | IOSTANDARD = LVCMOS33;